<div class="full-height flex-center position-ref">
  <div class="main-background">
      <div class="col-sm-6 logo-background">
        <h1 class="text-primary-color title">Daily Wash</h1>
        <h1 class="text-primary-color sologant">Make the life faster and easier!</h1>
      </div>
      <div class="col-sm-6 login-background">
        <form>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="email" type="email" class="form-control" id="inputEmail" placeholder="Email" name = "email-login" >
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="password" type="password" class="form-control" id="inputPassword" placeholder="Password" name = "password-login">
          </mat-form-field>
          <button mat-button [style.display]="isRegister?'none':'block'" (click)="onClickLogin()" class="accent-color text-primary-color full-width">Sign in</button>
  
        </form>
      </div>
  </div>
</div>