<app-header></app-header>
<div class="wrapper wrapper-help animated bounceInDown">
	<div class="bannerContainer">
		<div class="container">
			<div class="ctn-banner help-banner">
				<h3>VERY EASY TO ORDER</h3>
			</div>
		</div>		
	</div>
</div>

<div class="answerContainer animated fadeInUp">
	<!-- Product name -->
<!-- 	<div class="borderWhite animated rotateIn">
		
	</div> -->
	<div>
		
	</div>
	<div class="container">
		<h1 class="pro-title">{{this.product.title}}</h1>
		<div class="row">
			<mat-form-field>
			    <input matInput placeholder="First name" value={{user.first_name}} readonly>
			</mat-form-field>
			<mat-form-field>
			    <input matInput placeholder="Last Name" value={{user.last_name}} readonly>
			</mat-form-field>
			<mat-form-field >
			    <input matInput placeholder="Estimate" [(ngModel)]="order.estimate" type="number">
			</mat-form-field>
			<mat-form-field class="full-width">
			    <input matInput placeholder="Taking Address" [ngModel]="user.address" (ngModelChange)="order.taking_address = $event" type="text">
			</mat-form-field>
			<mat-form-field class="full-width">
			    <input matInput placeholder="Returning Address" [ngModel]="user.address" (ngModelChange)="order.returning_address = $event" type="text">
			</mat-form-field>

			  <select placeholder="Favorite food" [(ngModel)]="order.time_taking">
			    <option *ngFor="let food of foods" [value]="food.value">
			      {{ food.viewValue }}
			    </option>
			    <p>The time we pick your </p>
			  </select>
	
			<button mat-button (click)="onClickOrder()">Order!</button>
		</div>
	</div>
</div>