<app-side-bar style="box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);"></app-side-bar>
<div class="container" [ngStyle]="{'margin-top.px': 100}">
<mat-form-field class="example-full-width">
    <input matInput placeholder="Search here" value="">
</mat-form-field>
<div class="row">
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<table id="customers">
					<thead>
						<tr>
							<th>New order</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let new of news">
							<td (click)="moveWash(new.id)">{{new.user.first_name}} {{new.user.last_name}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-8 col-xs-6" id="takingPending">
				<table id="customers">
					<thead>
						<tr>
							<th>Need to wash</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let mywashing of mywashings">
							<td (click)="selectedValue=mywashing;openModal(washman)">
							{{mywashing.user.first_name}} {{mywashing.user.last_name}}
							</td>
						</tr>
					</tbody>
			
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="container">
			
		</div>
	</div>
</div>
</div>


<ng-template #washman>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Information washing</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
		Order id: {{selectedValue.id}}
		<br>
		{{selectedValue.product | json : 12}}
		
  </div>
  <div class="modal-footer">
  	<button mat-button class="btn-washed" >Washed</button>
  </div>
 	
</ng-template>