#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#customers td, #customers th {
    /*border: -1px solid #0097a7;*/
    padding: 8px;

}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #B2EBF2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0097a7;
    color: white;
    border: none;
}
#customers tfoot th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: red;
    color: white;
}
.modal-body {
    overflow: hidden;
}
.modal-body button{
    background-color: red;
    color: white;
    font-weight: 800;
    outline: none;
    border: none;
}
.modal-body .but-place{
    display: block;
    margin: 30px 0px;
    float: right;
}
.modal-body select{
    width: 50%;
    background: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;

}

.btn-washed{
    background-color: red;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}