<div class="container">
	<div class="row">
		<div class="col-md-5">
			<table id="customers">
				<thead>
					<tr>
						<th>New</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let new of news">
						<td (click)="move(new.id)">{{new.user.first_name}} {{new.user.last_name}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<table id="customers">
				<thead>
					<tr>
						<th>Your Pending</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let new of news">
						<td>{{new.user.first_name}} {{new.user.last_name}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


