<div class="footerContainer">
	<div class="container">
		<div class="row">
			<div class="ctn-ft-left col-md-5 col-sm-5 col-xs-12">
				<img src="styles/images/ft-logo1.png">
				<p>In an infinite everything materializes at one time or another, so the concept of choice is spurious. The realization of our finiteness forces us to choose among alternatives.</p>
			</div>
			<div class="ctn-ft-right col-md-7  col-sm-7 col-xs-12">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<h4>PRODUCT</h4>
					<ul>
						<li><a href="#">Features</a></li>
						<li><a href="#">Pricin</a></li>
						<li><a href="#">Tour</a></li>
						<li><a href="#">shop</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<h4>INFO </h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="contact@peemz.com">job</a></li>
						<li><a href="#">blog</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<h4>SUPPORT</h4>
					<ul>
						<li><a href="#">Support Center</a></li>
						<li><a href="">Help Desk</a></li>
						<li><a href="#">FAQs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footerCopyContainer">
	<div class="container">
		<div class="row">
			<div class="ft-solid-left col-md-6 col-sm-5 col-xs-12">
				<a href="//www.facebook.com/Peemz-1779186072410621/" class="ft-solid1"></a>
				<a href="https://www.instagram.com/peemzpeemz/" class="ft-solid2"></a>
				<a href="later" class="ft-solid3"></a>
				<a href="contact@peemz.com" class="ft-solid4"></a>
			</div>
			<div class="ft-solid-right col-md-6 col-sm-7 col-xs-12">
				<a href="#">terms and conditions</a>
				<a href="#">privacy policy</a>
			</div>
		</div>
	</div>
</div>