
body{
	background-image: url(../styles/images/partners/par-img1.png);
	display:table-cell;
	text-align: center;
    vertical-align:middle;
}
#container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.content{
   margin-top: 40px;
   text-align: center;
}

.content input{
   width: 300px;
   text-align: right;
   border: 3px ;
   
}
.content label{
	font-weight: 700;
	color: red;
}
.content h1{
	color: red;
	width: 100%;

}
.content a{
	display: inline-block;
	padding: 10px 30px;
	background: #ff2d55;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.content a:hover{
	background: #72ef78;
}
.form-control{
	display: table;
     margin:auto;
   
}