/*bannerContainer*/
.bannerContainer{
	width: 100%;
	/* overflow: hidden; */
}
.ctn-banner{
	width: 100%;
	text-align: center;
	padding: 100px 0 180px;
	/* overflow: hidden; */
}
.ctn-banner h3{
	color: #fff;
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 40px;
	line-height: 67px;
	margin-bottom: 40px;
}
.ctn-banner p{
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 30px;
}
.ctn-banner-btt{
	width: 100%;
	padding-top: 100px;
	overflow: hidden;
	text-align: center;
}
.ctn-banner-btt a{
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	padding: 10px 30px;
	margin: 10px 0;
}
.ctn-banner-btt a.bn-btt1 .iconPlay{
	position: absolute;
	top: 7px;
    left: 10px;
    border: 0
}
.ctn-banner-btt a.bn-btt1{
	position: relative;
	padding-left: 40px;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-right: 20px;
}
.ctn-banner-btt a.bn-btt2{
	background: #ef3968;
	border: 1px solid #ef3968;
	border-radius: 4px;
}
.ctn-banner-btt a.bn-btt1:hover{
	border: 1px solid #ef3968;
	background: #ef3968 no-repeat center left 15px;
}
.ctn-banner-btt a.bn-btt2:hover{
	background: #f42156;
	border: 1px solid #f42156;
}

/*partners*/
.wrapper{
	padding-top: 100px;
	padding-bottom: 200px;
}
.partners-wrapper{
	background: url(/assets/jean.jpg/) #fff no-repeat center top;
	background-size: cover;
}

/*Main container*/

.main-container{
	/*linear-gradient(0deg, #b4e4f5, #7cd3f2)*/
	background-color: #f8fafc;
	position: relative;
}

.marginTop100{
	padding-top: 5vh;
}
/* boutiquesContainer */
.boutiquesContainer{
	width: 100%;
	padding: 60px 0 90px;
	border-bottom: 1px solid #c8c6c9;
}
.boutiquesContainer h2{
	margin: 0;
	margin-bottom: 30px;
	color: #000;
}
.ctn-boutiques .display{
	height: 35vh;
	overflow: hidden;
	padding: 5px;
	box-sizing: border-box;
	background-color: #fff;
}
.ctn-boutiques a img{
	width: 100%;
	min-height: 35vh;
	margin-bottom: 10px;
}
.ctn-boutiques p {
	margin: 0;
	color: #ff728d;
	margin: 10px 0;
}
.ctn-boutiques h3 {
	margin: 0;
	color: #000;
	margin-bottom: 10px;
}
.ctn-boutiques p span{
	margin: 0;
	color: #000;
	margin-bottom: 70px;
}
.ctn-boutiques{
	padding-bottom: 70px;
}

/*material css*/

.mat-tab-label.mat-ripple{
    color: #65d9d9 !important;
	text-decoration: none;
	opacity: 0.9;
	font-size: 20px;
}
.mat-tab-header, .mat-tab-nav-bar{
	border-color: #fff;
	margin-bottom: 15px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #7cd3f2;
    opacity: 1;
}
.mat-button, .mat-icon-button, .mat-raised-button{
	color: white !important;
    background-color: #7cd3f2;
}

@media (max-width: 767px){
	.wrapper{
		padding-top: 50px;
		padding-bottom: 30px;
	}
}